<a href="https://colab.research.google.com/github/ProfKaromo/Data_Science_Codes/blob/main/Hypothesis_Testing_One_Sample_T_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas
data = pandas.read_csv("https://modcom.co.ke/data/datasets/schoolcleaned.csv", 
                       parse_dates=['bday','enrolldate', 'expgradate'])
data.head(4)

,Unnamed: 0,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,...,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime,Performance,Total
0,0,43783,1995-03-22,2014-08-04,2019-05-13,Unknown,uknown,Male,Non-Athlete,217.05,...,60.02,81.440000,In state,On Campus,Other,27.149573,7.0,1.0,Failed,222.960000
1,29,20230,1996-01-02,2014-08-04,2020-05-11,Freshmen,pre-pharma,Male,Athlete,240.33,...,65.36,76.070000,In state,On Campus,Other,27.149573,8.0,3.0,Failed,217.030000
2,30,21083,1995-12-22,2014-08-04,2020-05-11,Freshmen,uknown,Female,Non-Athlete,216.15,...,68.53,71.420000,In state,Off Campus,Car,26.000000,5.0,3.0,Failed,226.870000
3,31,21939,1995-12-12,2014-08-04,2020-05-11,Freshmen,uknown,Male,Athlete,198.27,...,61.61,79.521683,In state,Off Campus,Car,39.000000,6.0,5.0,Failed,222.231683