<a href="https://colab.research.google.com/github/ProfKaromo/Data_Science_Codes/blob/main/Test_of_Hypothesis_Tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Joseph N. Karomo
## Test of Hypothesis Tasks

A certain bank in Kenya wanted to know whether a member Education and their marital status could affect their level of income(Applicant Income). This decision was to be used to determine the maximum loan amount that could be disbursed to applicant. Therefore, they randomly picked 40 sample records from their customers database to be used on the research
Data Source:

## https://modcom.co.ke/data/datasets/bank.csv

## Questions: Perform the test of Hypothesis to realize the Bank’s judgment.

In [13]:
#Importing the bank data
import pandas
bank = pandas.read_csv('https://modcom.co.ke/data/datasets/bank.csv')
bank.head(5)

,Gender,Married,Education,Self_Employed,Applicant_Income,Loan_Amount,Loan_Status
0,Male,No,Not Graduate,No,5849,NaN,Get A Loan
1,Male,No,Not Graduate,No,4583,128.0,Does Not Get A Loan
2,Male,No,Not Graduate,Yes,3000,66.0,Get A Loan
3,Male,Yes,Not Graduate,No,2583,120.0,Get A Loan
4,Male,No,Not Graduate,No,6000,141.0,Get A Loan

In [14]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [15]:
model = ols('Applicant_Income~ C(Education) + C(Applicant_Income) + C(Education):C(Married)', data=bank).fit()
sm.stats.anova_lm(model, typ=2)

                               sum_sq    df             F        PR(>F)
C(Education)             8.301729e+07   1.0  1.811257e+28  4.730315e-15
C(Applicant_Income)      7.739768e+08  37.0  4.563917e+27  1.173106e-14
C(Education):C(Married)  1.528194e+07   2.0  1.667093e+27  1.731829e-14
Residual                 4.583408e-21   1.0           NaN           NaN

## **Test 1**
**H0:** There is NO effect between client’s Education with the Applicant
Level of Income

**H1:** There is an effect between client’s Education with the Applicant
Level of Income

## **Test 1 Conclusion**
Since **p value = 4.730315e-15** which is less than **0.05** we reject the null hypothesis and conclude that there is an effect between client’s Education with the Applicant Level of Income. (This conclusion is rationally expected).

## **Test 2**
**H0:** There is NO effect between client’s Marital Status with the
Applicant Level of Income

**H1:** There is an effect between client’s Marital Status with the
Applicant Level of Income

## **Test 2 Conclusion**
Since **p value = 1.173106e-14** which is less than **0.05** we reject the null hypothesis and conclude that there is an effect between client’s Marital Status with the Applicant Level of Income.

## **Test 3**
**H0:** There is NO Interaction between client’s Education and Marital
Status

**H1:** There is an Interaction between client’s Education and Marital
Status

## **Test 3 Conclusion**
Since **p value = 1.731829e-14** which is less than **0.05** we reject the null hypothesis and conclude that there is an Interaction effect between client’s Education and Marital Status.