<a href="https://colab.research.google.com/github/ProfKaromo/Data_Science_Codes/blob/main/Two_Way_ANOVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas
data =  pandas.read_csv("https://modcom.co.ke/data/datasets/politics.csv")
data.head(2)

  Gender Education  Political_Interest
0   Male   College                  45
1   Male   College                  44

In [7]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

## Converting exponential to decimals

In [8]:
def remove_exponent(value):
      decial = value.split('e')
      ret_val = format(((float(decial[0]))*(10**int(decial[1]))), '.12f')
      return ret_val
 

# usage
remove_exponent('8.710675024888996e-12')

'0.000000000009'

In [10]:
model = ols('Political_Interest~ C(Gender) + C(Education) + C(Gender):C(Education)', data=data).fit()
sm.stats.anova_lm(model, typ=2)
# https://justpaste.it/1q8nb
# H0: We have an interaction between Gender/Education
# H1: We do not have an Interaction between Gender/Education
# We do not have an interaction between Gender/Education at 0.07

# H0: Theres is no  significant effect of Gender to Political interest
# H1 :Theres is significant effect of Gender to Political interest

# We do conclude Theres is no  significant effect of Gender to Political interest  p = 0.36


# H0: Theres is no  significant effect of Education to Political interest
# H1 : Theres is significant effect of Education to Political interest

# # We do conclude Theres is  significant effect of Education to Political interest  p = 0.00000

                              sum_sq    df          F        PR(>F)
C(Gender)                 102.625153   1.0   0.837081  3.668703e-01
C(Education)            10884.472319   2.0  44.390599  4.399528e-10
C(Gender):C(Education)    673.305250   2.0   2.745969  7.886398e-02
Residual                 4045.761905  33.0        NaN           NaN